{% extends 'base.html'%}
<!-- {% import 'macros.html' as macro%} -->

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying  Username-->
        <div class="col-md-3">
            <h2>Profile </h2>
            <hr>
            <h3> Name: {{user.username| capitalize}} </h3>

            <!--Displaying user bio-->
            {% if user.bio %}
            <h4> About me: </h4>
            <p> {{user.bio}}</p>
            {%else%}
            <p> You have no bio </p>
            {% endif %}

            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
            {% endif %}
        </div>

        <!--Display pitches-->
        <div class="col-md-9">
            <h2>Pitches </h2>
            <hr>
            {% if pitches %}
            {% for p in pitches %}
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 review-card">
                <p style="font-weight: bold"> Title </p>
                <p> {{ p.pitch_title}} </p>
                <p style="font-weight: bold"> Category </p>
                <p> {{p.pitch_category}} | <a href="/category/{{p.pitch_category}}">More </a> </p>
                <p style="font-weight: bold"> Description </p>
                <p> {{ p.pitch_description }}</p>
                <p> <a href="/viewpitch/{{p.id}}">Comments </a> </p>
            </div>
            {% endfor %}
            {%else%}
            <p>Comments...</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}