{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<!-- Display all pitches-->
<h3>All Pitches</h3>
<hr>
<hr>
<!--Display pitches-->
<div class="col-md-12">
    {% if pitches %}
    {% for p in pitches %}
    <div class="col-md-6 col-lg-6 review-card">
        <p><span style="font-weight: bold"> Title: </span> {{ p.pitch_title}} </p>
        <p style="font-weight: bold"> Category </p>
        <p> {{p.pitch_category}} | View more <a href="/category/{{p.pitch_category}}"> {{p.pitch_category}} </a> pitches
        </p>
        <p style="font-weight: bold"> Description </p>
        <p> {{ p.pitch_description }}</p>
        <p> <a href="/viewpitch/{{p.id}}"> View & add comments </a> </p>
        <hr>
    </div>
    {% endfor %}
    {%else%}
    <p>comments...</p>
    {% endif %}
</div>


{% endblock%}